/*вместо того, чтобы делать 3 одинаковые html'ки и 3 css'ки к ним, я решила сделать всё на одной странице.
разделила всё на 3 отдельных блока-гида, каждый грид - отдельная страница.
и добавила отступы по бокам, чтобы выглядело красивее.
грид-контейнеры - заменяют родителя wrap'у, на отдельной тсранице у него родителем был бы body.
*/
div.blocks {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 0.5fr 10fr 0.5fr;
    gap: 20px;
}
div.flex-box {
    grid-row: 1/2;
    grid-column: 2/3;
}
div.float-box {
    grid-row: 2/3;
    grid-column: 2/3;
}
div.inlineblock-box {
    grid-row: 3/4;
    grid-column: 2/3;
}

/* задаю одинаковые параметры блоков: бэкграунд, цвет текста, размер текста, отступы */

.wrap {
    border: black 5px double;
    min-height: 500px;
}
.menu {
    background-color: indigo;
    color: white;
    font-size: 14px;
    line-height: 20px;
    min-width: 250px;
}
.content {
    font-weight: 600;
    font-size: 16px;
    padding: 15px;
}

/* Работа с флексом */

div.flex-box div.wrap {
    display: flex;
}

/* Работа с флоатом */

div.float-box div.menu {
    float: left;
    height: 100%;
}
div.float-box div.wrap {
    height: 500px;
    overflow: scroll;
}
div.float-box div.content {
    margin-left: 250px;
}

/* Работа с инлайн-блоком */

div.inlineblock-box div.menu,
div.inlineblock-box div.content {
    display: inline-block;
}
div.inlineblock-box div.menu {
    height: 500px;
}