.grid-container {
    max-width: 800px;
    margin: 20px auto;
    height: 600px;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
}

.header {
    grid-column: 1/4;
    grid-row: 1/2;    
    border: red solid 5px;
}

.center {
    grid-column: 1/4;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
}

.footer {
    grid-column: 1/4;
    grid-row: 3/4;
    border: red solid 5px;
}

.center div:nth-child(1){
    border: red solid 5px;
    grid-column: 1/2;
}
.center div:nth-child(2){
    border: red solid 5px;
    grid-column: 2/3;
}
.center div:nth-child(3){
    border: red solid 5px;
    grid-column: 3/4;
}